<table><tr>
<h4>Miracle Software Systems, Inc , founded in 1994, is a Global Systems Integrator specializing in 
    ERP/ BPM (EAI/SOA) / B2B / Digital Experience Technologies and is a Minority<br> Certified Private 
    Business headquartered in Novi, MI – USA. Over the past twenty five years, Miracle has helped
     numerous large and mid-sized businesses transition their IT to <br>a Service Oriented Architecture,
      with IT Transformation Initiatives, deploying SAP / Oracle ERP Systems. Miracle has a global
       presence on four continents with multiple<br> Global Development Centers spanning across the USA,
        Canada and India. Today, Miracle’s team includes 2600 IT Professionals with a projected 
        targeted expansion to <br>3000 by the end of 2022.<br><br>

    Whether it is Internal Application to Application(A2A/EAI) Integration, Process Integration(BPM), 
    or Business to Business Integration using EDI / Web Services, <br>API Management, Machine to Machine
     (M2M) Communications, Internet of Things(IOT), Cloud Integration or Mobile Application Integration,
      Miracle is the <br>Systems Integrator of Choice and the Thought Leader in this industry. Miracle has
      been and continues to be a leader in the niche space of Business <br>Integration and SOA services 
      over the past 21 Years with Premier Partnerships with companies such as SAP, IBM, Oracle and 
      Microsoft.<br><br>
    
    Miracle employs the largest set of certified professionals with extensive industry knowledge
     in order to assist your organization with implementing the latest technologies.<br> We have several 
     different models of delivery to suit the needs of organizations of all sizes.<img src="assets/d.png" alt=""></h4>
     
    </tr></table>