<nav>
    <div class="topnav">
     <a style="padding-top: 2px;"> <img style="width:200px" src="assets/miii.png"></a>
        <a href="#home">Home</a>
        <a href="#hubble">Hubble</a>
        <a href="#email">Email</a>
        <a style="padding-left: 220px;"><img src="assets/v.png"></a>
        <a style="padding-left: 200px;">Vineetha Kondepudi</a>
        <span class="drop-down">
            <select name="cars" id="cars">
              <option></option>
              <option >Password reset</option>
              <option >Log out</option>
            </select>
        </span>
        

      </div>
</nav>
<app-mirclenavbar> </app-mirclenavbar>
